*{
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body{
    margin: 0;
}

.bg-image{
    background-image: url(./assets/pattern-bg-desktop.png) ;
    background-size: cover;
    text-align: center;
    padding: 30px;
    width: 100vw;
    height: 40vh;
}

h1{
    color: white;
}

#address_tracker{
    padding: 20px;
    border-radius: 10px 0px 0px 10px;
    border: none;
    width: calc(100% - 50px);
    float: left;
    margin-right: 0;
    white-space: nowrap;
}

#address_tracker:focus{
    border: none !important;
    outline: none;
}

.input-wrapper{
    width: 80vw;
    max-width: 800px;
    margin: auto;
    box-shadow: 10px 5px 5px #0000002b;
    border-radius: 10px;
    position: relative;
    display: inline-block;
}

.search_button{
    padding: 20px;
    width: 50px;
    padding-top: 19px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    cursor: pointer;
    background-color:  #121212;
}

.search_button:hover{
    background-color: #3f3f3f;
}

#map { height: 60vh;width: 100%; }

.informations{
    display: flex;
    padding: 40px;
    box-shadow: 10px 5px 5px #0000002b;
    margin: auto;
    z-index: 99999;
    position: absolute;
    top: 30vh;
    left: 50%;
    margin-left: -40%;
    flex-wrap: wrap;
    border-radius: 20px;
    width: 80vw;
    background-color: white;
}

.item{
    display: flex;
    flex: 25%;
    flex-wrap: wrap;
    border-right: 1px solid rgb(184, 184, 184);
    padding: 20px;
}

@media (max-width: 600px)
{   
    body{
        font-size: 80%;
    }
    .informations{
        flex-direction: column;
        top:20vh;
        padding:10px
    }
    .item{
        border: none;
        justify-content: center;
        padding: 10px;
    }
    .item-content{
        text-align: center;
    }
}

.item:last-child{
    border: 0px;
}

.item-title{
    font-size: 0.7em;
    color: #3f3f3f;
}

.item-content{
    font-size: 1.5em;
    margin-top: 10px;
    width: 100%;
}
